body {
  background: #C09E80;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.column {
  height: 150px;
  background: #9FD4A3;
  color: #8F8F8E;
  display: flex;
  align-items: center;
  justify-content: center;

  outline: 2px solid black;
}

