body {
  background: yellow;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.column {
  height: 150px;
  background: #4da3ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  outline: 2px solid black;
}

