body {
    margin: 0;
    background: #C09E80;
  }
  
  .diagonal-columns {
    display: flex;
    flex-direction: column;
  }

  .menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
  
    background: #000000;
    color: white;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 0 2rem;
    box-sizing: border-box;
    z-index: 1000;
  }

  .box {
    height: 200px;              /* full screen per box */
    width: 200px;
    background: #9FD4A3;        /* column color kept */
    color: #000000;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 2rem;
    outline: 2px solid black;
  }
  
  /* Diagonal offsets */
  .box-1 { margin-left: 20%; }
  .box-2 { margin-left: 60%; }
  /* .box-3 { margin-left: 20%; } */
  .box-4 { margin-left: 20%; }
  

/*   
  .scroll-box {
    height: 150px;
    overflow-y: auto;
    border: 1px solid black;
  } */

  :root {
    --menu-height: 60px;
  }
  
  .menu-bar {
    height: var(--menu-height);
  }
  
  .diagonal-columns {
    padding-top: var(--menu-height);
  }
  
  /* Prevent anchor jump from hiding content */
  .box {
    scroll-margin-top: var(--menu-height);
  }

  /* Background photo behind everything */

  
  /* Columns stay above the background */
  
  /* Menu bar stays on top */
 
  
