body {
  background: #f5f5f5;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.column {
  height: 100px;
  background: red;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
