body {
  background: yellow;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.column {
  height: 120px;
  background: red;
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
